.data-table{
    width: 100%;
    height: auto;
    border-radius: rem(10);
    overflow: hidden;
    border: rem(1) solid $primary-color;
    @media print {
        border: rem(1) solid $primary-color !important; 
    }
    &__header{
        background: $primary-color;
        color: $white-color;
        padding: rem(5);
        @media print {
            color: $black-color;
        }
    }
    .table{
        margin-bottom: 0;
    }
}