.data{
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 80vh;
    margin: rem(5) 0;
    &-list{
        max-width: 25%;
        width: 25%;
        height: auto;
        align-self: normal;
        max-height: 80vh;
        overflow: scroll;
        @include hideScroll();
        &__item{
            border-bottom: transparent;
        }
    }
    &-map{
        flex: 1;
        align-self: normal;
    }
}