.location-finder{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    flex: 1;
    &__header{
        width: 100%;
        height: auto;
       padding: rem(15);
       background: $border-color;
       @include flex(center, flex-start);
       .header-item{
        width: 25%;
       }
       .header-item + .header-item{
        margin-left: rem(10);
       }
    }
    &__content{
        width: 100%;
        height: auto;
        padding: rem(0);
    }
    &__footer{
        width: 100%;
        height: auto;
        padding: rem(0);
    }

}

