.btn {
  &:focus,
  &:active,
  &.active {
    box-shadow: none;
    outline: none;
  }
  &.btn-primary{
    color: $white-color;
    background: $primary-color;
    border-color: $primary-color;
    &:focus,
    &:active,
    &:hover {
      border-color: $primary-color;
    }
  } 
}
