.store{
    width: 100%;
    height: auto;
    padding: rem(10);
    &-image{
        width: rem(100);
        height: auto;
        float: left;
        img{
            width: 100%;
            height: auto;
        }
    }
    &-details{
        width: auto;
        height: auto;
        margin-left: rem(115);
    }
}