.store{
    width: auto;
    height: auto;
    margin: rem(5) rem(10);
    min-height: rem(100);
    padding: rem(10);
    cursor: pointer;
    cursor: pointer;
    border: rem(1) solid $border-color;
  &:hover{
    background:$border-color;
  }
    &-image{
        width: rem(100);
        height: auto;
        float: left;
        img{
            width: 100%;
            height: auto;
        }
    }
    &-details{
        width: auto;
        height: auto;
        margin-left: rem(115);
        color: $primary-color;
    }
}